
html, body {
	overflow-x: hidden;
}

/* ---------------------------------------- */

/* Jumbotron + Social links */

.jumbotron {
	text-align: center;
	background: url("../img/background3.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding-bottom: 30% !important;
}

.icons li {
	list-style-type: none;
	display: inline;
}

.icons ul {
	padding-left: -50px;
}

.buttonToProfile {
	text-decoration: none;
	border: 1px solid white;
	color: white;
	padding: 1em;
}

.buttonToProfile:hover{
	background-color: black;
	color: white;
	text-decoration: none;
}


#title {
	width: auto;
	font-family: 'Karla', sans-serif;
	color: white;
	font-size: 60px;
	text-align: center;
	margin-top: 10%;
}

/* -------------------------------------- */

/* Profile */

#profile-container{
	font-family: 'Karla', sans-serif;
	font-size: 15px;
	margin-top: -30px;
}

#profilepic, #cv-button {
	display: block;
	height: auto;
	border: 1px solid black;
}

#profile-container .row .img-container #profilepic {
	width: 100%;
	object-fit: cover;
}

#profile-container .row .col-sm-6 {
	padding: 0;
}

#cv-button {
	padding: 1em 0px;
	margin-left: 15px;
	width: 95.7%;
	color: black;
	text-decoration: none;
}

#cv-button:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

.aboutme-container {
	text-align: center;
	background: #334055;
	color: white;
	height: 537px;
}

.aboutme-container p {
	margin: auto 2em;
}

@media screen and (max-width: 767px){
	#title {
		font-size: 30px;
	}

	#cv-button {
		width: 100%;
	}

	.aboutme-container {
		margin-top: -20px;
	}
}