*{
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
}

body {
	-webkit-font-smoothing: antialiased;
}

/* Nav bar */

header {
	background: black;
}

.nav-container {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: auto;
	float: right;
	background: white;
}

#menu {
	text-align: center;
	display: inline;
	width: auto;
	height: auto;
	margin: 15px auto;
	padding: 10px;
}

#menu ul li a {
	text-decoration: none;
	font-size: 15px;
	color: black;
}

#menu ul li a:hover {text-decoration: none;}

.navOptions {
	display: inline;
	margin: 2em;
}

/* ---------------------------------------- */

/* Second section */

.jumbotron {
	text-align: center;
	background: url("../img/background3.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#buttonToProfile {
	text-decoration: none;
	border: 1px solid white;
	color: white;
	padding: 1em;
}

#buttonToProfile:hover {
	background-color: white;
	color: black;
}

#title {
	width: 100%;
	height: 100%;
	float: left;
	font-family: 'Karla', sans-serif;
	color: white;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
	font-size: 75px;
	margin: 15% auto;
	text-align: center;
}


/* -------------------------------------- */

/* Third section */

.profile-container {
	background: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

footer ul li{
	height: auto;
	display: inline;
	float: right;
	padding: 1em;
}

footer {
	margin-top: 1.3em;
	border-top: 1px solid black;
}