*{
	/*border: 1px solid rgba(255, 255, 255, 0.3);*/
}

body {
	-webkit-font-smoothing: antialiased;
}

/* Nav bar */

header {
	background: black;
}

.nav-container {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: auto;
	float: right;
	background: transparent;
	border-bottom: 1px solid white;
}

#menu h3 {
	font-family: "Karla", sans-serif;
	color: white;
	float: left;
}

#menu {
	text-align: center;
	display: inline;
	width: auto;
	height: auto;
	margin: 10px auto;
	padding: 5px;
}

.nav-container.scrolled {
  background-color: black !important;
  transition: background-color 1s linear;
  border-bottom: transparent;
}

#menu ul {
	float: right;
	margin-top: 1.5em;
}

#menu ul li a {
	text-decoration: none;
	font-size: 15px;
	color: white;
}

#menu ul li a:hover {text-decoration: none;}

.navOptions {
	display: inline;
	margin: 1.5em;
}

/* ---------------------------------------- */

/* Second section */

.jumbotron {
	text-align: center;
	background: url("../img/background3.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding-bottom: 30% !important;
}

.icons li {
	list-style-type: none;
	display: inline;
}

.icons ul {
	padding-left: -50px;
}

.buttonToProfile {
	text-decoration: none;
	border: 1px solid white;
	color: white;
	padding: 1em;
}

.buttonToProfile:hover{
	background-color: black;
	color: white;
	text-decoration: none;
}


#title {
	width: auto;
	font-family: 'Karla', sans-serif;
	color: white;
	font-size: 60px;
	text-align: center;
	margin-top: 10%;
}


/* -------------------------------------- */

/* Third section */

#profile-container {
	font-family: 'Open Sans', sans-serif;
	margin-top: -30px;
	background-color: white;
}

#profile-container{
	font-family: 'Karla', sans-serif;
	padding: 2.5em;
	font-size: 15px;
	color: black;
}

#profilepic {
	width: 100%;
	height: 100%;
}

.education-container ol li, .experience-container ol li{
	list-style-type: none;
	margin-bottom: 50px;
}

.education-container, .experience-container, .cv-container{
	background: rgba(0, 0, 0, 0.9);
	color: white;
}

.experience-container {
	padding-bottom: 50px;
}

.cv-container {
	padding-bottom: 5%; 
}

#cv-button {
	padding: 1em;
	color: white;
	border: 1px solid white;
	margin-top: 250px;
	text-decoration: none;
}

#cv-button:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

/* ------------------------------------- */

/* Footer */
footer {
	margin-top: 1.3em;
	border-top: 1px solid black;
}