/* Nav bar */

header {
	background: black;
}

.nav-container {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: auto;
	float: right;
	background: black;
}

#menu h3 {
	font-family: "Karla", sans-serif;
	color: white;
	float: left;
}

#menu {
	text-align: center;
	display: inline;
	width: auto;
	height: auto;
	margin: 10px auto;
	padding: 5px;
}


#menu ul {
	float: right;
	margin-top: 1.5em;
}

#menu ul li a {
	text-decoration: none;
	font-size: 15px;
	color: white;
}

#menu ul li a:hover {text-decoration: none;}

.navOptions {
	display: inline;
	margin: 1.5em;
}
