#post-image {
	padding-top: 20%; 
	background: #334055;
	color: white;
}

.post-container .row article{
	margin: auto;
	width: 60%;
	font-family: 'Karla', sans-serif;
}

article #post-content {
	font-size: 18px;
	margin-top: 1.5em;
}

@media screen and (max-width: 990px) {
	.post-container .row article {
		width: 90%;
	}
}

@media screen and (max-width: 400px) {
	#post-image {
		padding-bottom: 20%;
	}
}