<!DOCTYPE html>
<html ng-app="MyApp">

	<head>
		<meta name="keywords" content="gursimran gus singh khalsa" />
		<!-- Core Angular JS Framework -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>


    	<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Rokkitt|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'> 
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>   
		
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- JavaScript files -->
    	<script type="text/javascript" src="js/home.js"></script>
    	
    	<!-- JQuery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<script src="js/nav.js"></script>
    	
	</head>

	<body>
		<!-- Navigation bar -->
		<header class="container-fluid nav-container" ng-controller="NavController">
			<div ng-include="'nav.html'"></div>
		</header>

		<!-- Jumbotron -->
		<section class="jumbotron container-fluid">
			<h1 id='title'>GURSMIRAN KHALSA <br /><span style="font-size: 30px;">Computer Science Student, University of Kent</span></h1>
			<a id="buttonToProfile" href="#profile">LEARN MORE</a>
		</section>

		<!--profile area -->
		<section class="container-fluid profile-container" ng-controller="ProfileController">
			<div id="profile">
				<h1>About Me</h1>
				<h3>Education</h3>
				<ol>
					<li ng-repeat="list in education">	{{list.school}} | {{startDate}} - {{endDate}} <br /> {{list.subject}}
					</li>
				</ol>
				<button ng-click="showModules = !showModules">Show Modules</button>
				<ul ng-hide="!showModules">
					<li ng-repeat="module in modules">{{module}}</li>
				</ul>
				<h1>Latest Work Experience</h1>

				<p ng-repeat="job in workExperience" ng-if="$last">{{job.company}} | {{job.role}} | {{job.startDate}} - {{job.endDate}}</p>
				<a href={{CV}}>DOWNLOAD CV </a>
			</div>
		</section>

		<!-- Project Area -->
		<section class="container-fluid">
			<div class="row">
				<div class="col-sm-4" ng-repeat="project in projects">
					<img ng-src="img/img2.jpg" />
				</div>
			</div>
		</section>

		<footer ng-controller="ProfileController">
			<ul>
				<li ng-repeat="contact in contacts">
					<a href={{contact.link}}><img src={{contact.icon}} /></a>
				</li>
			</ul>
		</footer>

	</body>
</html>


