	<!-- Jumbotron/Title -->
<section class="jumbotron container-fluid">
	<h1 id='title'>Gursimran Khalsa <br /><span style="font-size: 30px;">Computer Science Student, University of Kent</span></h1>
	<ul class="container-fluid icons" ng-controller="ProfileController">
		<li ng-repeat="contact in contacts">
			<a target="_blank" href={{contact.link}}><img src={{contact.icon}} /></a>
		</li>
	</ul>
</section>

<!--Profile area -->
<section class="container-fluid" id="profile-container">

	<div class="row">
		<div class="col-sm-6">
			<img ng-src={{profilepicture}} id="profilepic" />
			<div class="row cv-container" style="text-align: center;">
				<a href="#" id="cv-button">DOWNLOAD CV</a>
			</div>
		</div>
		<div class="col-sm-6 aboutme-container">
			<h1>ABOUT ME</h1>		
			<p>
				Hello, my name is Gursimran Khalsa(everyone calls me Gus) and I am a 2nd year Computer Science student at the University of Kent. I consider myself a problem solver, creative thinker and a very calm individual. I started programming in year 10 of secondary school when I was introduced to Python which I proceeded to use to develop a schedule maker. For the past year and a half, I have been learning and working with Java from GUI's and text based games to compressing images into drawing commands or converting drawing commands into images. I am interested in cyber security and deep learning. When i'm not programming I enjoy sports, travelling, playing the piano, gaming and a lot of other activities
			</p>		
		</div>
	</div>
</section>


<!-- Projects -->
<section class="container-fluid project-container">
	<div class="row">
		<h1>PROJECTS</h1>
	</div>
	<div class="row" id="project-listing" ng-controller="ProjectController">
		<div class="col-sm-3" ng-repeat="project in projects">
			<a ng-href={{project.downloadLink}}>
			<img ng-src={{project.thumbnail}} />
			<div class="content">
				<h3>{{project.title}}</h3>
				<em>{{project.date}}</em>
				<p>{{project.description}}</p>
			</div>
			</a>
		</div>
	</div>
</section>		